<div class="container">
  <div class="header clearfix">
    <!-- Navbar -->
    <nav style="width:1200px">
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" routerLink=''>
            <input type="button" class="btn btn-primary" value="HOME">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>
            <input type="button" class="btn btn-primary" value="USERS">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='agreements'>
            <input type="button" class="btn btn-primary" value="AGREEMENTS">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='service1'>
            <input type="button" class="btn btn-primary" value="SERVICE 1">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='service2'>
            <input type="button" class="btn btn-primary" value="SERVICE 2">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='service3'>
            <input type="button" class="btn btn-primary" value="SERVICE 3">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='service4'>
            <input type="button" class="btn btn-primary" value="SERVICE 4">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='service5'>
            <input type="button" class="btn btn-primary" value="SERVICE 5">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='service6'>
            <input type="button" class="btn btn-primary" value="SERVICE 6">
          </a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">TEST-PROJECT</h3>
  </div>
